/* Start Variables */
:root{
    --main-color:#86b817;
    --transparent-color:rgb(15 116 143 /70%);
    --section-padding: 100px;
}
/* End Variables */
/* Start Components */
.button{
    background-color: var(--main-color);
    width: 150px;
    border-radius: 50px;
    outline: transparent;
    border: transparent;
    text-align: center;
}
/* End Components */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: unset;
}
.container{
    padding: 0px 15px;
    margin: 0px auto;
    margin: auto;
}
/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
    
}
/* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
.header::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 20px;
    left: 15px;
    width: calc(100% - 30px);
    box-shadow: 0px 2px 8px #888888;
}
.header .logo{
    font-family: "Unbounded", sans-serif;
    font-size: 50px;
    padding: 40px 10px;
    color: var(--main-color);
}
.header .logo span{
    color: black;
}
.header .nav{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .nav ul{
    display: flex;
}
.header .nav ul li a{
    display: block;
    color: black;
    font-size: 18px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
    border: none;
    outline: none;
}

.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.header .nav ul li a.button{
    display: block;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    padding: 10px 10px;
    margin: 30px 20px;
    position: relative;
    z-index: 2;
}
.header .nav ul li a.button:hover{
    color: white;
    background-color: black;
    transition: 1s;
}
/* End Header */